<p id="notice"><%= notice %></p>

<h1>Requests</h1>
<head>
  <style>
    div {
      float : right;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    th, td {
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {background-color: #f2f2f2;}

    th {
      background-color: #4CAF50;
      color: white;
    }
  </style>
</head>

<div>
  <b><%= link_to 'View Donors', donors_path %></b> &nbsp | &nbsp
  <b><%= link_to 'LOG OUT', logout_path %></b>
</div>

<table>
  <thead>
    <tr>
      <th>Noofdonors</th>
      <th>Bloodgroup</th>
      <th>City</th>
      <th>Email</th>
      <th>Serviced</th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.noOfDonors %></td>
        <td><%= request.bloodGroup %></td>
        <td><%= request.city %></td>
        <td><%= request.email %></td>
        <% if request.serviced == true %>
          <td>Yes</td>
        <% else %>
          <td>No</td>
        <% end %>
        <% if request.serviced == false %>
          <td>
            <b><%= link_to 'Serve & Reply', 
            {:controller => 'admin', :action => 'reply', :request_id => request.id} %></b>    
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>