<p id="notice"><%= notice %></p>

<p>
  <strong>Noofdonors:</strong>
  <%= @request.noOfDonors %>
</p>

<p>
  <strong>Bloodgroup:</strong>
  <%= @request.bloodGroup %>
</p>

<p>
  <strong>City:</strong>
  <%= @request.city %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>
<!--
<b><%= link_to 'Edit', edit_request_path(@request) %></b> |
-->
<b><%= link_to 'New Request', new_request_path %></b><br><br>

<b><%= link_to 'Home', root_path %></b>
